In [42]:
# 1.ADD():Adds a single element to the set.
set1={1,2,3} 
set1.add(4) 
print(set1)

{1, 2, 3, 4}

In [4]:
# 2.CLEAR():remove all elements from this set.
set1={1,2,3} 
set1.clear() 
print(set1)

set()

In [6]:
# 3.COPY():return a shallow of a set.It means you get a new set with the same elements, but it’s a different object in memory. 
set1={1,2,3} 
set2=set1.copy() 
print(set2)

{1, 2, 3}

In [10]:
# 4.DIFFERENCE():Return a new set with elements in the set that are not in the others.*(set1 mein se set2 ke elements ko remove karke ek dusra 
#   set bnana deta hai.).  
set1={1,2,3} 
set2={3,4,5}
set3=set1.difference(set2) 
print(set3)

{1, 2}

In [11]:
# 5.DIFFERENCE_UPDATE():Update the set, removing elements found in others.*(set1 mein se set2 ke elements ko remove karke, 
#   set1 ki value ko update kar deta hai.)
set1={1,2,3} 
set2={3,4,5} 
set1.difference_update(set2) 
print(set1)

{1, 2}

In [14]:
# 6.DISCARD():Remove an element from a set if it is a member.Unlike set.remove(), the discard() method does not raise
#   an exception when an element is missing from the set.
set1={1,2,3} 
set2={3,4,5} 
set1.discard(2) 
print(set1)

{1, 3}

In [15]:
# 7.INTERSECTION():Return a new set with elements common to the set and all others.*(set1 mein aur set2 mein jo bhi elements comman hoge unhe 
#   nikal ke ek nya set deta hai.)
set1={1,2,3,6} 
set2={3,4,5,6}  
set3=set1.intersection(set2) 
print(set3)

{3, 6}

In [18]:
# 8.INTERSECTION_UPDATE():set1 mein aur set2 mein jo bhi elements comman hoge unhe set1 mein update kar deta hai.)
set1={1,2,3,6} 
set2={3,4,5,6} 
set1.intersection_update(set2) 
print(set1)

{3, 6}

In [19]:
# 9.ISDISJOINT:return TRUE agar doo sets mein ek bhi element comman na ho aur FALSE agar comman ho
set1={1,2,3,6} 
set2={3,4,5,6} 
set1.isdisjoint(set2)

False

In [20]:
set1={1,2,} 
set2={3,4,5,6} 
set1.isdisjoint(set2)

True

In [23]:
# 10.ISSUBSET():Checks if all elements of one set are in another.Dekta hai kya ek set dussre set ka subset hai.
set1={1,2,3,6} 
set2={3,6}  
set2.issubset(set1)

True

In [24]:
# 11.ISSUPERSET():Checks if a set contains all elements of another set.
set1={1,2,3,6} 
set2={3,6} 
set1.issuperset(set2)

True

In [25]:
# 12.POP():Remove and return an random set element.Raises KeyError if the set is empty.
set1={1,2,3,6}
set1.pop()

1

In [27]:
# 13.REMOVE():Removes a specific element. ❌ Raises error if element is not found.
set1={1,2,3,6} 
set1.remove(3) 
print(set1)

{1, 2, 6}

In [43]:
# 14.SYMMETRIC_DIFFERENCE():remove comman elements in both sets and gives new set. *(Returns a new set with non-common elements).
#    Returns the elements that are in either of the sets, but not in both.
set1={1,2,3,6} 
set2={3,6,5}  
set3=set1.symmetric_difference(set2) 
print(set3) 
# Removes elements common to both (like 3,6) and keeps the rest from both sets.

{1, 2, 5}

In [44]:
# 15.SYMMETRIC_DIFFERENCE_UPDATE():This updates the set with the symmetric difference, instead of returning a new one.
set1={1,2,3,6} 
set2={3,6,5}  
set1.symmetric_difference_update(set2) 
print(set1)

{1, 2, 5}

In [36]:
# 16.UNION():Combines two sets (returns all unique elements).In new set.
set1={1,2,3,6} 
set2={3,6,4,5}   
set3=set1.union(set2) 
print(set3)

{1, 2, 3, 4, 5, 6}

In [40]:
# 17.UPDATE():Adds multiple elements (from a list, tuple, or set) to the set.
set1={1,2,3,6} 
set2={3,6,4,5} 
name='string'
list1=[7,8,9] 
tuple1=(99,66,33)
set1.update(set2,name,list1,tuple1) 
print(set1)

{1, 2, 3, 4, 5, 6, 'n', 's', 7, 8, 9, 99, 'i', 66, 33, 'r', 'g', 't'}