In [41]:
#Q1
unit=int(input("number of units from users :"))
bill=0
if unit>100:
    if unit<=200:
        bill += (unit-100)*5
        if unit>200:
            bill += 100*5
            bill += (unit-200) * 10
if unit<=100:
    bill=0
print("your bill will be ",bill)

number of units from users : 350

your bill will be  0

In [21]:
#Q2
marks=int(input("please enter your percentage :"))
if marks>90:
    print("grade a")
elif marks>80 and marks<=90:
    print("grade B")
elif marks>=60 and marks<=80:
    print("grade C")
elif marks<60:
    print("grade D")

please enter your percentage : 85

grade B

In [24]:
#Q3 
people_1=int(input("please enter your age :"))
people_2=int(input("please enter your age :"))
people_3=int(input("please enter your age :"))
people_4=int(input("please enter your age :"))
if people_1<people_2:
    print("people_1 is the youngest")
elif people_2<people_3:
    print("people_2 is the youngest")
elif people_3<people_4:
    print("people_3 is the youngest")
elif people_4<people_1:
    print("people_4 is the youngest")

please enter your age : 15
please enter your age : 14
please enter your age : 13
please enter your age : 12

people_4 is the youngest

In [8]:
#Q4
salary=int(input("enter your salary :"))
years=int(input("enter your period of service :"))
if years>10:
    net_bonus=0.10*salary
elif years>=6 and years<=10:
    net_bonus=0.08*salary
elif years<6:
    net_bonus=0.06*salary

print("bonus:Rs",net_bonus)
print("your will be",salary+net_bonus)

enter your salary : 200
enter your period of service : 12

bonus:Rs 20.0
your will be 220.0

In [18]:
#Q5
number_1=int(input("first number :"))
number_2=int(input("second number :"))
number_3=int(input("third number :"))
if number_1>number_2 and number_2>number_3:
    print("number_2 is the second largest number.")
elif number_2>number_1 and number_1>number_3:
    print("number_1 is the second largest number.")
elif number_1>number_3 and number_3>number_2:
    print("number_3 is the second largest number.")

first number : 28
second number : 20
third number : 24

number_3 is the second largest number.

In [21]:
#Q6 
marked_price=int(input("please enter market price :"))
if marked_price>1000:
    net_discount=marked_price*0.20
elif marked_price>7000 and marked_price<=10000:
    net_discount=marked_price*0.15
elif marked_price<=7000:
    net_discount=marked_price*0.10
print("discount will be :",net_discount)
print("total net amount will be",marked_price-net_discount)

please enter market price : 11000

discount will be : 2200.0
total net amount will be 8800.0

In [22]:
#Q7
english_marks=int(input("enter your english marks :"))
math_marks=int(input("enter your math marks :"))
science_marks=int(input("enter your science marks :"))
social_studies_marks=int(input("enter your social studies marks :"))
if english_marks>80 and math_marks>80 and science_marks>80 and social_studies_marks>80:
    print("stream allotted : science stream")
elif english_marks>80 and math_marks>50 and science_marks>50:
    print("stream allotted : commerce")
elif english_marks>80 and social_studies_marks>80:
    print("stream allotted : humanities")

enter your english marks : 85
enter your math marks : 45
enter your science marks : 45
enter your social studies marks : 85

stream allotted : humanities

In [25]:
#Q8 
number=int(input("enter your number :"))
if number %5==0:
    print("hello")
else:
    print("bye")

enter your number : 15

hello

In [30]:
#Q9 
three_digit_number=int(input("enter three digit number :"))
if three_digit_number %3==0:
    print("yes it is divisible by 3")
else:
    print("it\'s not")

enter three digit number : 14

it's not

In [33]:
#Q10 
num=int(input("enter a number :"))
if num>=100 and num<=999:
    print("this number is three digit number")
elif num<=-100 and num>=-999:
    print("this number is three digit number")
else:
    print("it is not a three digit number")

enter a number : -10

it is not a three digit number